.headdiv {
  background-color: #ed4c5c;
  display: flex;
}
.textdiv {
  margin: 116px 125px 138px 165px;
}
.headh {
  color: aliceblue;
  font-family: 'Zen Kurenaido', sans-serif;
}
.headp {
  color: aliceblue;
}
.logo {
  height: 24px;
  width: 24px;
}
.imgdiv {
  margin: 95px 260px 95px 125px;
}

.maindiv {
  display: flex;
}

.maintext {
  margin: 117px 114px 223px 176px;
}
.inputform {
  margin: 117px 165px 78px 125px;
  display: flex;
  flex-direction: column;
}

.topinput {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.topinleft {
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  width: 255px;
  height: 60px;
}
.topinright {
  margin-left: 30px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  width: 255px;
  height: 60px;
}
.botinput {
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  width: 540px;
  height: 60px;
}
.botselect {
  margin-top: 24px;
  margin-bottom: 27px;
  width: 540px;
  height: 60px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
}
.redbut {
  width: 160px;
  height: 50px;
  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  box-sizing: border-box;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
}
.mfootdiv {
  display: flex;
  margin: 85px 196px 186px 161px;
}
.dochdiv {
  margin: 30px;
  width: 264px;
  height: 264px;
}
.foothh {
  margin-left: 40px;
}
.footp {
  list-style: none;
  margin-left: 0px;
}
