body {
  background-color: #e5e5e5;
}
.banner1 {
  margin-top: 228px;
  display: flex;
  background: #0b2239;
  border: 1px solid black;
  padding: 12px 120px;
  justify-content: space-between;
  align-items: center;
}
.t1 {
  color: white;
}
.a1 {
  color: #4ad295;
  white-space: nowrap;
  margin: 0 10px;
}
.b1 {
  color: white;
  background: #4ad295;
  cursor: pointer;
  border: none;
}

.banner2 {
  background: azure;
  margin: 72px 904px 24px 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;

  width: 560px;

  background: #ffffff;
  box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15),
    0px 0px 1px rgba(96, 96, 96, 0.1);
  border-radius: 16px;
}
.t2 {
  color: black;
  margin-left: 62px;

  width: 347px;

  border-radius: 0px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.a2 {
  color: red;
}

.b2 {
  background: #0d0c220d;
  margin-left: 10px;

  width: 63px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 4px, 10px, 4px, 10px;
  margin: 26px 10px;
}
.b23 {
  color: white;
  background: #ea4c89;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  width: 52px;

  border-radius: 8px;
  padding: 4px, 10px, 4px, 10px;
  margin: 26px 26px 26px 10px;
}

.banner3 {
  background: #26262b;
  display: flex;
  align-items: center;
  padding: 12px 16px;

  width: 560px;

  margin: 24px 904px 72px 24px;
  box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15),
    0px 0px 1px rgba(96, 96, 96, 0.1);
  border-radius: 10px;
}
.t3 {
  margin: 12px 10px 12px 16px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  color: #ffffff;
}

.a3 {
  color: darkgoldenrod;
}

.b3 {
  width: 49px;
  cursor: pointer;
  border: none;
  background: #ffffff;
  border-radius: 8px;
}

.ban {
  margin: auto;
  display: flex;
  align-items: center;
}

.banner4 {
  padding: 24px;

  width: 360px;

  background: rgba(28, 37, 64, 0.95);
  box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15),
    0px 0px 1px rgba(96, 96, 96, 0.1);
  border-radius: 6px;
}
.banner42 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.h4 {
  width: 121px;

  margin: 24px 215px 10px 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
}
.p4 {
  margin: 10px 24px 24px 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.buttdiv4 {
  display: flex;
  justify-content: space-between;
  margin: 16px 24px 24px 24px;
}
.a42 {
  color: #ffffff;
}

.b4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  cursor: pointer;
  border: none;
  background: #09b3af;
  box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
  border-radius: 6px;
}

.banner5 {
  flex-direction: column;
  align-items: flex-end;
  padding: 16px;
  margin: 72px 40px;

  background: #ffffff;
  box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15),
    0px 0px 1px rgba(96, 96, 96, 0.1);
  border-radius: 16px;
}
.h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.p5 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #687f8c;
}
.buttdiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.b5 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border: none;
  width: 50%;
  margin: 8px;

  background: #eaf0f4;
  box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
  border-radius: 6px;
}
.b52 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 8px;
  color: white;
  cursor: pointer;
  border: none;
  width: 50%;
  background: #40c1a7;
  box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
  border-radius: 6px;
}

.ban2 {
  display: flex;
  margin: 72px 784px 288px 24px;
  align-items: center;
  justify-content: space-between;
}

.banner6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;

  width: 320px;

  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(186, 226, 255, 0.15) 23.96%,
      rgba(229, 217, 255, 0.15) 71.87%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    #ffffff;
  box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
  border-radius: 20px;
}
.h6 {
  width: 104px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 48px;

  text-align: center;

  color: #15295a;
}

.p6 {
  width: 256px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  color: #15295a;
}
.b6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 32px;
  color: white;
  cursor: pointer;
  border: none;
  width: 121px;

  background: #4a7eff;
  border-radius: 43px;
}
.banner7 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 16px;
  margin: 40px;
  width: 320px;

  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
  border-radius: 4px;
}
.p7 {
  width: 288px;

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}
.buttdiv7 {
  margin: 16px;
  display: flex;
  justify-content: space-between;

  padding: 16px;
  align-items: center;
}

.a7 {
  width: 95px;
  color: #6666ff;

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.b7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: white;
  width: 64px;
  cursor: pointer;
  border: none;
  background: #6666ff;
  border-radius: 4px;
}
